*.lock
*.log
*.pydevsysteminfo
*.version
*.index
*.tree
*.resources
*.prefs
*.xmi
*.xml
code/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
code/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
code/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
*.history
code/.metadata/.plugins/org.python.pydev/v1_edseys1kucp67tywmfck6dcvp/modulesKeys
code/.metadata/.plugins/org.python.pydev/v1_edseys1kucp67tywmfck6dcvp/pythonpath
code/.metadata/version.ini
*.pyproj
*.sln
*.suo
*.pyc